[submodule "libraries/Catch"]
	path = libraries/Catch
	url = git@github.com:philsquared/Catch.git
[submodule "libraries/asio"]
	path = libraries/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "libraries/flatbuffers"]
	path = libraries/flatbuffers
	url = git@github.com:google/flatbuffers.git
